<div class="card">
    <div class="col">
        <div class="card-title"><h2>{{'Add player'|translate}}</h2>
        </div>
        <div class="col">
            {{startValue - characterValue}}
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <form #addPlayer="ngForm" (ngSubmit)="onSubmit(addPlayer)">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label>{{'Player name'|translate}} </label>
                            <input class="form-control" name="playerName" ngModel required #player="ngModel">
                        </div>
                        <div class="form-group">
                            <label>{{'Character name'|translate}} </label>
                            <input class="form-control" name="characterName" ngModel required #first="ngModel">
                        </div>
                        <div class="form-group">
                            <label>{{'Class'|translate}} </label>
                            <select class="form-control" id="exampleFormControlSelect1" name="class" ngModel required
                                    #class="ngModel">
                                <option *ngFor="let class of classArray">{{class}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>{{'Race'|translate}} </label>
                            <select class="form-control" id="exampleFormControlSelect1" name="race" ngModel required
                                    #race="ngModel">
                                <option *ngFor="let race of raceArray">{{race}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>{{'Character name'|translate}} </label>
                            <input class="form-control" name="characterName" ngModel required #first="ngModel">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>{{'Strange'|translate}} </label>
                            <div class="row">
                                <div class="col">
                                    <input class="form-control" name="strange" type="number" (change)="checkValue()"
                                           [(ngModel)]="character.strange" required #strange="ngModel">
                                </div>
                                <div class="col">
                                    {{showModify(character.strange)}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>{{'Dexterity'|translate}} </label>
                            <div class="row">
                                <div class="col">
                                    <input class="form-control" name="dexterity" type="number" (change)="checkValue()"
                                           [(ngModel)]="character.dexterity" required #dexterity="ngModel">
                                </div>
                                <div class="col">
                                    {{showModify(character.dexterity)}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>{{'Intelligence'|translate}} </label>
                            <div class="row">
                                <div class="col">
                                    <input class="form-control" name="intelligence" type="number"
                                           (change)="checkValue()"
                                           [(ngModel)]="character.intelligence" required #intelligence="ngModel">
                                </div>
                                <div class="col">
                                    {{showModify(character.intelligence)}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>{{'Charisma'|translate}} </label>
                            <div class="row">
                                <div class="col">
                                    <input class="form-control" name="charisma" type="number" (change)="checkValue()"
                                           [(ngModel)]="character.charisma" required #charisma="ngModel">
                                </div>
                                <div class="col">
                                    {{showModify(character.charisma)}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>{{'Condidtion'|translate}} </label>
                            <div class="row">
                                <div class="col">
                                    <input class="form-control" name="condidtion" type="number" (change)="checkValue()"
                                           [(ngModel)]="character.condidtion" required #condidtion="ngModel">
                                </div>
                                <div class="col">
                                    {{showModify(character.condidtion)}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-success">{{'Add player'|translate}}</button>
                    <button type="button" (click)="resetForm()" class="btn btn-warning">{{'Reset'|translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>